.gradle
build/

# Ignore Gradle GUI config
gradle-app.setting

# Avoid ignoring Gradle wrapper jar file (.jar files are usually ignored)
!gradle-wrapper.jar

# Cache of project
.gradletasknamecache

.idea/workspace.xml
*.bat
addressbook-web-tests/gradlew
addressbook-web-tests/gradle/wrapper/gradle-wrapper.jar
*.log